.graphApi {
  overflow: hidden;
  padding: 1em;

  h2 {
    text-align: center;
  }

  .event {
    text-align: left;


  }

  .calendar {
    text-align: left;
  }

  .hide {
    display:none;
  }

  .show {
    display:block;
  }

  





}
